/* ---------- @ Inherited Styles -----------*/

body, html {
	background:#FFF;
	font:12pt Verdana, Arial, Tahoma, sans-serif;
	color:#000;
	line-height:165%;
	padding:0 !important;
	margin:0 !important;
	width:100% !important;
	}

a:link, a:visited {
 	background: transparent;
	font-weight: bold;
	text-decoration: underline;
	color:#000;
	}	
	
h1, h2, h3, h4, h5 {
	font-family: Georgia, "Times New Roman", Times, serif;
	}

h1 {
	font-size:2em;
	}

h2 {
	font-size:1.8em;
	}

h3 {
	font-size:1.5em;
	}

h4 {
	font-size:1.2em;
	}

h5 {
	font-size:1.1em;
	}
					
img {
	border:0;
	margin:3px 12px 8px 0;
	}

#masthead-content, #nav, #searchform, #commentform, #sidebar, iframe, #footernav li.menu-item {
	display:none;
	}

#home #sidebar,
#footernav li.cc {
	display: block !important;
}

#footernav,
#footernav li.cc {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

#home #sidebar {
	margin-top: 2em;
}

hr { 
	background:#000; 
	color:#000;
	width:100%; 
	height:1px; 
	margin:15px 0; 
 	border:none; 
	}

blockquote { 
 	margin:1.5em 0; 
 	padding:1em; 
 	border:1px solid #ccc; 
 	font-style:italic; 
 	font-size:0.9em; 
	}

.site-credits {
	margin-top: 2em;	
}

	
/* ---------- @ Post Styles -----------*/

#comments,
#respond {
	padding: 10px;
}

.entry {
	padding-bottom:10px;
	overflow:hidden;
	clear: both;
	}
	
.tabs .entry {
	border-bottom: 1px solid #d1d1d1;
	}

.entry-content {
	float: right;
	width: 285px;
}

.excerpt {
	margin: 0 0 10px;
}

.excerpt * {
	display: inline;
}

.excerpt p {
	line-height: 130%;
}

.excerpt a.more, .excerpt a.more:visited {
	text-transform: uppercase;
	font-weight: normal;
	padding-left: 3px;
	font-weight: bold;
}

.excerpt a.more:hover, .excerpt a.more:active {
	
}

.postmetadata,
.category-info {
	margin:0;
	font-size:.9em;
	line-height: 120%;
	font-style: italic;
	}

.category-info {
	margin:0 5px;
	padding: 0;
}	

.postmetadata em {
	font:italic 1em Georgia, "Times New Roman", Times, serif;
	text-transform:none;
	letter-spacing:.1em;
	}

.commentcount {
	padding-left: 17px;
	background:url(images/bubble.gif) no-repeat;
	margin-left:14px;
	}
	
.entry code {
	background:#f5f3ee;
	padding:3px;
	font-size:1.2em;
	}

.entry ul, .entry ol {
	margin:15px 0;
	}
				
.entry ul li {
	margin: 0 0 10px 42px;
	line-height:115%;
	}

.entry ol li {
	margin:0 0 5px 48px;
	line-height:115%;
	}

#tags {
	padding:3px 6px;
	background:#f2f2f2
	}	

#tags a, #tags a:visited {
	text-decoration: none
	}
	
.entry table {
	margin: 15px 0;	
}

.entry th, .entry td {
	padding: 5px 6px;	
}
	

/*Images*/
	
.entry img {
	padding:2px;
	margin:15px 0;
	}

.entry table img {
	margin: 0;	
}

.wp-caption {
	background:#f2f2f2;
	text-align:center;
	padding:10px 5px 10px 10px;
	}

img.alignleft, img.alignright,
.ngg-left, .ngg-right {
	display:block;	
}

img.alignleft,
.ngg-left {
	margin:5px 15px 10px 0;
	float:left
	}

img.alignright,
.ngg-right {
	margin:5px 0 10px 15px;
	float:right
	}

.wp-caption.alignleft {
	float:left;
	margin:20px 22px 10px 0;
	}
	
.wp-caption.alignright {
	float:right;
	margin:20px 0 10px 22px;
	}

.wp-caption.aligncenter,
img.aligncenter,
.ngg-center {
    margin: 0 auto;
	display:block;
	margin-bottom:15px;
	float:none
   	}
		
p.wp-caption-text {
	margin:0;
	text-align:center;
	padding:5px 0;
	}	

.wp-caption img {
	float:none;
	margin:0;
	}	

.gallery {
	margin:15px 0;
	display:block;
	}
	
.gallery img {
	border:1px solid #999 !important;
	padding:2px;
	}

.gallery-item {
	padding:12px 0;
	}

.gallery-caption {
	padding:10px;
	}
	
	
	

/* ---------- @ Comments -----------*/

	
.reply a, .reply a:visited  {
	width:75px;
	background:#CCC;
	color:#FFF;
	display:block;
	margin-bottom:15px;
	padding:5px !important;
	text-align:center;
	text-decoration:none !important;
	font:italic 1em Georgia,Arial,Verdana;
	position:relative;
	}

.reply a:hover {
	background:#aeaeae;
	text-decoration:none;
	color:#FFF;
	}

.reply a:active {
	background:#CCC;
	}
			
.commentlist li {
	margin: 0 0 18px 0;
	padding: 15px;
	background:#F2F2F2;
	border-bottom:1px solid #DDDDDD;
	border-top:1px solid #DDDDDD;
	list-style:none
	}

.commentlist li.depth-2 {
	border:none;
	background:#FFF;
	border-top: 1px solid #f2f2f2;	
	margin-left:15px;
	}

.commentlist li.depth-3	 {
	margin-left:15px;
	border:none;
	background:#f2f2f2;
	}

.commentlist li.bypostauthor {
	background:#e5e5e5 !important; 
	border:none !important;
	}
	
.commentlist code {
	background:#f2f2f2;
	padding:3px;
	}
	
.avatar {
	margin: 3px 10px 0 0;
	float:left;
	padding:2px;
	border:1px solid #b9b9b9;
	background:#FFF;	
	}

#trackbacklist li {
	margin: 10px 0 10px 35px;
	}

#trackbacklist cite {
	font-style:normal
	}
			
cite.fn {
	font: 1.4em Georgia, "Times New Roman", Times, serif;
	letter-spacing:-0.05em;
	display:block;
	padding-top:9px;
	}	

.says {
	display:none;
	}

.comment-author {
	overflow:hidden;
	}
		
.commentmetadata {
	float:left
	}
 
.comment-date a, .comment-date a:visited {
	color:#9f9f9f;
	font-size:0.9em;
	text-decoration:none
	}

.commentmetadata a:hover, .commentmetadata a:active  {
	text-decoration:underline;
	color:#333;
	}