// Imports -------------------------------------------------------------------

@import "compass";
@import "susy";
@import "mixins";
@import "normalize";

// Susy Variables ------------------------------------------------------------

$legacy-support-for-ie6         : false;
$legacy-support-for-ie7         : false !default;
$legacy-support-for-ie8         : false !default;
$ie                             : false !default;

$show-column-grid-backgrounds   : false;
$show-baseline-grid-backgrounds : false;
$show-grid-backgrounds          : false;

// Compass Variables ---------------------------------------------------------

$base-font-size                 : 16px;
$base-line-height               : 28px;

// Colors --------------------------------------------------------------------

$default-color                  : rgb(60,60,60);
$default-color-light            : rgba($default-color, 0.75);
$default-color-lighter          : rgba($default-color, 0.5);
$default-color-lightest         : rgba($default-color, 0.25);

$link-color                     : rgb(90,60,110);
$link-color-light               : lighten($link-color, 10%);
$link-color-alternate           : rgb(186, 158, 6);
$link-color-alternate-light     : lighten($link-color-alternate, 10%);

