html {
  padding-right: 60px;
}

article {
  .blog &,
  .archive &,
  .single & {
    footer {
      float:right;
      width: 25%;
      margin-top: 1em;
    }
    .entry-content {
      float:left;
      width: 70%;
    }
  }
}

footer[role="contentinfo"] {
  margin: 0 -60px;
  padding: 20px 90px;
}

