header[role=banner],
#content,
footer {
  max-width: 980px;
}

header[role=banner] {
  position:relative;
  padding:rhythm(1) 0 0;
}

#logo {
  float:left;
  text-align:left;
  max-width: 300px;
  line-height:0;
  margin-bottom:rhythm(1);
}

#sitenav {
  position:absolute;
  bottom:rhythm(1);
  right:0;
  float:right;
  clear:right;
  border:none;
  text-align:right;
  @include adjust-leading-to(1);

  &:before {
    display:none;
  }

  ul {
    border:none;
  }

  a {
  }
}

form#search {
  float:right;
}

#screenshots {
  .screenshot {
    float:left;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 0;
    display:block;
    padding: 0 2% 2%;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 0 10px rgba(0,0,0,0.05);

    &:hover {
      background:rgb(255,255,255);
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    &:first-child {
      float:left;
      width: 74%;
      padding: 2% 2% 0;
      margin-bottom: 2em;
    }

    &:last-child {
      margin-right:0 !important;
    }

    img {
      padding: 0;
      margin-bottom: 1em;
      max-width: 100%;
      background: transparent;
    }
  }
}

#neatline-meta-links {
  margin: 2em 0 0 0;
  clear:none;
  text-align:center;
  @include adjust-font-size-to(16px);

  li {
    display:inline;
    margin-bottom: 2em;
    &:before {
      content: "" !important;
      padding: 0 !important;
    }

    a {
      @include splash-button;
      &:hover {
        text-decoration: underline;
      }

    }
  }
}

#separate-components-note {
  clear:both;
  font-style:italic;
  text-align:center;
  color: rgba(0,0,0,0.7);
  @include adjust-font-size-to(20px);
}

#primary,
.primary {
  float:left;
  width: 70%;
}

.single-post #primary {
  float:none;
  width: 80%;
  margin-left:auto;
  margin-right: auto;
}

#secondary,
.secondary {
  float:right;
  width: 25%;
  font-family: "Cabin", "Lucida Grande", Verdana, sans-serif;
  font-size: 0.75em;
  color: #777;

}

#secondary {
  padding-top: 3em;
}

#secondary h2 {
  margin:0;
  padding:0;
}

#secondary ul,
.secondary ul{
  padding-left:0;
  margin-left: 1.5em;
}

#secondary ul:not(:last-child):after,
.secondary ul:not(:last-child):after {
  margin: 1em 0 1em -1.5em;
  display:block;
  content:"";
  height:0px;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255,255,255,1);
  padding:0;
}

#plugin-meta .button {
  display:block;
  width: 100%;
  padding:0.5em 0;
  text-align:center;
}

/* Plugin List */

.archive {

  article.plugins {
    float:left;
    clear:left;

    .plugin-screen {
      display:block;
      float:left;
      width: 48%;
      border: 17px solid white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }
    }

    .content {
      float:right;
      width: 48%;
    }
  }
}

.credits-and-history {
  #primary {
    width: auto;
  }

  article {
    h2 {
      clear:both !important;
      padding-top: 2em;

      &:before {
        display:block;
        content:"";
        height:0px;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(255,255,255,1);
        margin-bottom: 0.5em;
      }
    }
  }

  .primary * {
    margin: 0 0 1em;
  }

  .secondary {
    padding-top:0.75em;
  }

  #secondary {
    display:none;
  }
}

footer .widget {
  float:left;
  width: 48%;
}

#slab-info {
  float:right;
  width: 48%;
  display:table;

  ul,
  #slab-logo{
    display: table-cell;
    vertical-align:middle;
    margin:0;
  }

  #slab-logo {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding:0;
    float:none;
  }
}
